/*  
    Author: Aisyah Zabidi;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table  tr td{
    padding: 1%;
}

.btn-primary{
    background-color:hsl(209, 67%, 48%);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #a2d2ff;
}

.btn-secondary{
    background-color:#d5bdaf;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #e3d5ca;
}

.btn-danger{
    background-color:#d90429;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ef233c;
}

.success{
    color: solid black;
}
.error{
    color: solid black;
}

/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu{
    text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight:bold ;
    color:#0d1b2a;
}
.menu ul li a:hover{
    color:#aec3b0;
}

/* CSS for main-content */
.main-content{
    background-color: #eff6e0 ;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: aliceblue;
    margin: 1%;
    padding: 2%;
    float: left;
}

/*  CSS for footer  */
.footer{
    background-color: #aec3b0;
}